services:
    caddy:
        image: local/caddy
        ports:
            - 443:443
            - 80:80
        build:
            context: caddy
            dockerfile: Dockerfile
        pull_policy: never
        networks:
            - proxy

    watchtower:
        image: nickfedor/watchtower
        environment:
            - DOCKER_CONFIG=${DOCKER_CONFIG_PATH}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - docker-config:${DOCKER_CONFIG_PATH}
        command:
            - "--label-enable"
            - "--interval"
            - "30"
        restart: unless-stopped

    uptime-kuma:
        image: louislam/uptime-kuma:1
        container_name: uptime-kuma
        ports:
            - 3001:3001
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - uptime-kuma:/app/data
        restart: unless-stopped

    alpine-cron:
        image: local/alpine-cron
        build:
            context: alpine-cron
            dockerfile: Dockerfile
        pull_policy: never
        restart: unless-stopped
        environment:
            - DOCKER_CONFIG=${DOCKER_CONFIG_PATH}
        volumes:
            - aws-credentials:/root/.aws
            - docker-config:${DOCKER_CONFIG_PATH}
            - alpine-cron-logs:/var/log
        env_file:
            - ./alpine-cron/.env

    portfolio:
        image: ${PORTFOLIO_IMAGE_NAME}
        ports:
            - 3000:3000
        restart: unless-stopped
        env_file:
            - ./frontend/.env
        labels:
            - com.centurylinklabs.watchtower.enable=true
        networks:
            - proxy

    portfolio-cron-jobs:
        image: ${PORTFOLIO_CRON_JOBS_IMAGE_NAME}
        restart: unless-stopped
        env_file:
            - ./cron-jobs/.env
        labels:
            - com.centurylinklabs.watchtower.enable=true

volumes:
    uptime-kuma:
    aws-credentials:
    alpine-cron-logs:
    docker-config:

networks:
    proxy:
