/* for debugging */
/* * {
	outline: 1px solid #f00 !important;
	opacity: 1 !important;
	visibility: visible !important;
} */

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}

	* {
		@apply m-0 box-border p-0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	p {
		@apply text-black dark:text-white;
	}

	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		max-width: 100vw;
	}

	svg.icon {
		cursor: pointer;
		width: 24px;
		height: 24px;
		stroke-width: 1.5;
		fill: none;
	}

	svg.icon > path {
		stroke-width: 1.5;
		stroke-linecap: round;
		stroke-linejoin: round;
		@apply stroke-black dark:stroke-white;
	}

	svg.icon-black > path {
		@apply stroke-black dark:stroke-black;
	}

	svg.icon:hover > path {
		@apply stroke-yellow-400 transition-all dark:stroke-yellow-300;
	}
}

@utility stroke-secondary {
	@apply stroke-gray-700! dark:stroke-gray-300!;
}

@utility fill-secondary {
	@apply fill-gray-700 dark:fill-gray-300;
}

@utility text-secondary {
	@apply text-gray-500 dark:text-gray-400;
}

@keyframes loading-spinner-scaleUp {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	60%,
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes loading-spinner-pulse {
	0%,
	60%,
	100% {
		transform: scale(1);
	}
	80% {
		transform: scale(1.2);
	}
}

.loading-circle {
	width: 48px;
	height: 48px;
	border: 5px solid #000000;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	animation: loading-spinner-pulse 1s linear infinite;
}

.loading-circle:after {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	border: 5px solid #000000;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: loading-spinner-scaleUp 1s linear infinite;
}
