services:
    frontend:
        image: portfolio
        build:
            context: ../
            dockerfile: prod.Dockerfile
            args:
                BASE_URL: ${BASE_URL}
                NEXT_PUBLIC_BASE_URL: ${NEXT_PUBLIC_BASE_URL}
                NEXT_PUBLIC_GITHUB_PROFILE_URL: ${NEXT_PUBLIC_GITHUB_PROFILE_URL}
                NEXT_PUBLIC_CONTACT_RECIPIENT: ${NEXT_PUBLIC_CONTACT_RECIPIENT}
                NEXT_PUBLIC_LINKEDIN_PROFILE_URL: ${NEXT_PUBLIC_LINKEDIN_PROFILE_URL}
                NEXT_PUBLIC_GERMAN_RESUME_URL: ${NEXT_PUBLIC_GERMAN_RESUME_URL}
                NEXT_PUBLIC_ENGLISH_RESUME_URL: ${NEXT_PUBLIC_ENGLISH_RESUME_URL}
                NEXT_PUBLIC_FILE_API_PATH: ${NEXT_PUBLIC_FILE_API_PATH}
                NEXT_PUBLIC_CDN_URL: ${NEXT_PUBLIC_CDN_URL}
            secrets:
                - build_secrets_env
secrets:
    build_secrets_env:
        file: ./build_secrets.env
