name: deploy

on:
    push:
        branches:
            - cd

concurrency:
    group: deployment
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_CLI_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_CLI_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_CLI_REGION }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2
              with:
                  mask-password: "true"

            - name: Build, tag, and push `cron-jobs` image to Amazon ECR
              env:
                  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
                  AWS_DEFAULT_REGION: ${{ secrets.AWS_ECR_REGION }}
                  ECR_REPO_URL: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-central-1.amazonaws.com/portfolio-cron-jobs
                  BUILD_IMAGE_NAME: portfolio-cron-jobs
              run: |
                  cd cron-jobs
                  docker compose --file docker-compose.build.yml build 
                  docker tag $BUILD_IMAGE_NAME $ECR_REPO_URL
                  docker push $ECR_REPO_URL

            - name: create .env file with public env variables for building `frontend` image
              run: |
                  echo "BASE_URL=${{secrets.BASE_URL}}" >> docker/.env
                  echo "NEXT_PUBLIC_BASE_URL=${{secrets.NEXT_PUBLIC_BASE_URL}}" >> docker/.env
                  echo "NEXT_PUBLIC_GITHUB_PROFILE_URL=${{secrets.NEXT_PUBLIC_GITHUB_PROFILE_URL}}" >> docker/.env
                  echo "NEXT_PUBLIC_CONTACT_RECIPIENT=${{secrets.NEXT_PUBLIC_CONTACT_RECIPIENT}}" >> docker/.env
                  echo "NEXT_PUBLIC_LINKEDIN_PROFILE_URL=${{secrets.NEXT_PUBLIC_LINKEDIN_PROFILE_URL}}" >> docker/.env
                  echo "NEXT_PUBLIC_ENGLISH_RESUME_URL=${{secrets.NEXT_PUBLIC_ENGLISH_RESUME_URL}}" >> docker/.env
                  echo "NEXT_PUBLIC_GERMAN_RESUME_URL=${{secrets.NEXT_PUBLIC_GERMAN_RESUME_URL}}" >> docker/.env
                  echo "NEXT_PUBLIC_FILE_API_PATH=${{secrets.NEXT_PUBLIC_FILE_API_PATH}}" >> docker/.env
                  echo "NEXT_PUBLIC_CDN_URL=${{secrets.NEXT_PUBLIC_CDN_URL}}" >> docker/.env

            - name: create .env file with secret env variables for building `frontend` image
              run: |
                  echo "PORTFOLIO_DATABASE_URL=${{secrets.PORTFOLIO_DATABASE_URL}}" >> docker/build_secrets.env

            - name: Build, tag, and push `frontend` image to Amazon ECR
              env:
                  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
                  AWS_DEFAULT_REGION: ${{ secrets.AWS_ECR_REGION }}
                  ECR_REPO_URL: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-central-1.amazonaws.com/portfolio
                  BUILD_IMAGE_NAME: portfolio
              run: |
                  cd docker
                  docker compose --file docker-compose.build.yml build 
                  docker tag $BUILD_IMAGE_NAME $ECR_REPO_URL
                  docker push $ECR_REPO_URL
